<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Execution" value="Before" />
    <add key="Name" value="Sino.Siscam" />
    <add key="Company" value="Sino Informática" />
    <add key="Address" value="http://update.siscam.com.br/Sino.Siscam.Desktop/Deployment.xml" />
    <add key="Executable" value="Sino.Siscam.Desktop.exe" />
    <add key="Path" value="Sino.Siscam.Desktop" />
    <add key="ProxyEnable" value="False" />
    <add key="ProxyAddress" value="http://192.168.1.1:3128" />
    <add key="AnonymousProxy" value="True" />
    <add key="ProxyUser" value="user" />
    <add key="ProxyPassword" value="pass" />
  </appSettings>
</configuration>