<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Address" value="http://localhost:1234/App/Deployment.xml" />
    <add key="Executable" value="App.exe" />
    <add key="Path" value="App" />
    <add key="ProxyEnable" value="False" />
    <add key="ProxyAddress" value="http://192.168.1.1:3128" />
    <add key="AnonymousProxy" value="True" />
    <add key="ProxyUser" value="user" />
    <add key="ProxyPassword" value="pass" />
  </appSettings>
</configuration>